*~
#*

.DS_Store
/places

/elpa/
/custom.el
/recentf
projectile-bookmarks.eld
.projectile
/eshell
/savefile
/transient
places

.mc-lists.el
.lsp-session-*
/bookmarks
/mspyls
/elpy
*:tangle
/semanticdb/
/.python-environments/
/org-journal.cache
/ido.last
/.cache/
