theme "catppuccin"
default_layout "compact"
on_force_close "quit"
simplified_ui true
copy_command "pbcopy"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

